# Gradle cache folder
.gradle

# Kotlin cache folder & files
.kotlin
kotlin-playground/src/main/kotlin/com/kotlin/playground/KotlinForeground.kt

# Idea configuration folder
.idea

# Build directory
.build